/* .imglink {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 18px;
    background-color: green;
    padding: 15px 0px;
} */

body {
    background-color: #777777;
    background-image: url('../images/background.png');
    background-repeat: repeat;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0px
}

header {
    width: 100%;
    height: 75px;
    margin-bottom: 40px;
    background-color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 1px solid #cccccc;
    background-image: url("../assets/images/background.png");
}

#headdiv {
    width: 960px;
    height: 45px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

#logodiv{
    background-color: #4aaaa5;
    float: left;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #cccccc;
}

#logo {
    background-color: #4aaaa5;
    padding: 10px 20px 0px 20px;
    float: left;
    height: 45px;
    bottom: 0px;
    color:#fff;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    float: right;
  }

  .navli {
      display:inline-block;
      margin-right: 20px;
      padding-right: 20px;
      border-right: 2px solid #cccccc;
  }

  .navli a {
    color: #777777;
    text-decoration: none;
  }

  .navli:last-child {
    display:inline-block;
    margin-right: 20px;
    padding-right: 20px;
    border-right: none;
}

  .content {
      background-color: #fff;
      width: 960px;
      margin: 0 auto;
      border: 1px solid #ddd;
      box-sizing: border-box;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.ctnthead {
    color: #4aaaa5;
    padding-bottom: 20px;
    margin: 20px 60px 20px 20px;
    width: 95%;
    border-bottom: 3px solid #777777;
}


 #biopic {
     float: left;
     margin: 20px 20px 20px 20px;
     width: 271px;
     height: 321px;
 }

  footer {
    border-top: 10px solid #4aaaa5;
    width: 100%;
    color: #cccccc;
    background-color: #666666;
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

